

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1> {{ todosdetail }} </h1>
                
            <h2>  Tasks </h2>
            <table>
                <thead>
                <tr>
                    <th> Task </th>
                       
                    <th> Due date </th>
                        
                </tr>
            </thead>
            <tbody>
                {% for todo in todosdetail.items.all %}
                <tr>
                    <td>{{ todo.task }}</td> 
                    <td>{{ todo.due_date }}
                </tr>
                {% endfor %}
            </tbody>
            <tbody>

        </div>
    </main>
    
</body>
</html>
