


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1> My Lists </h1>
                
            <table>
                <thead>
                <tr>
                    <th> Name </th>
                    <a href="{% url 'todo_list_new' %}">Create a new list</a>
                    <th> Number of items </th>
                        
                </tr>
            </thead>
            <tbody>
                {% for todo in todolist_list %}

                <tr>
                    <td> <a href="{% url 'todo_list_detail' todo.pk %}">{{ todo.name }}</a> </td> {% comment %} we're looping through the items in the todo list and printing their names under each column {% endcomment %} 
                    <td>{{ todo.items.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </main>
</body>
</html>
